@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Montserrat-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


