html {
    height: 100%;
}

body {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Montserrat", "Open Sans", "Lato Bold", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.5px;
}

p::selection, h1::selection, h2::selection,
h3::selection, label::selection, span::selection, a::selection {
    background: black;
    color: white;
}

p::-moz-selection, h1::-moz-selection, h2::-moz-selection,
h3::-moz-selection, label::-moz-selection, span::-moz-selection, a::-moz-selection {
    background: black;
    color: white;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Reset pre tag */
pre {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: medium;
    line-height: normal;
    color: inherit;
    -moz-word-break: normal;
    -o-word-break: normal;
    -ms-word-break: normal;
    word-break: normal;
    -ms-word-wrap: normal;
    word-wrap: normal;
    background-color: transparent;
    border: none;
    -ms-border-radius: 0;
    border-radius: 0;
    overflow: visible;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Awesome';
  src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/LatoLatin-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/LatoLatin-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/LatoLatin-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/LatoLatin-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Body - Pages Styles */

/* Index page */

/* Slider stuff */

#loader-gif {
    width: 100%;
    height: 900px;
}

.loader-gif-centered {
    position: relative;
    top: 20%;
}

.bxslider {
    color: white;
    font-family: "Lato-Bold", "Lucida Grande", sans-serif;
    font-weight: bold;
    letter-spacing: 0;
}

.bxslider a {
    color: inherit;
}

.bxslider a:hover {
    color: rgb(209, 209, 209);
}

/* Slide1 */

.slide1-text .no-bg-first-text {
    font-size: 36px;
    line-height: 100%;
}

.slide1-text {
    position: relative;
    top: 38%;
    left: 17%;
    display: inline-block;
}

.slide1-text .bg-color-text {
    background-color: #cbcbcb;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 24px;
}

.slide1-text .second-text-item {
    width: 76%;
    margin-bottom: -5px;
}

.slide1-text .bg-red-box {
    background-color: #fa4949;
    background-color: rgba(255, 0, 0, 0.7);
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;
    padding: 0.7em;
}

@media screen and (max-width: 980px) {
    .slide1-text {
        top: 30%;
        left: 5%;
    }

    .slide1-text .no-bg-first-text {
        font-size: 20px;
    }

    .slide1-text .bg-color-text {
        font-size: 15px;
    }

    .slide1 .bg-red-box {
        font-size: 15px;
        padding: 0.5em;
    }
}

@media screen and (max-width: 480px) {
    .slide1-text {
        left: 1%;
    }
    
    .slide1-text .no-bg-first-text {
        font-size: 18px;
    }

    .slide1-text .bg-color-text {
        font-size: 12px;
        width: 95%;
        padding-left: 15px;
    }

    .slide1 .bg-red-box {
        padding: 0.3em;
        font-size: 15px;
    }
}

/* Slide 2 */

.slide2-text .no-bg-first-text {
    font-size: 30px;
    line-height: 100%;
}

.slide2-text {
    position: relative;
    top: 50%;
    left: 14%;
    display: inline-block;
}

.slide2-text .bg-color-text {
    background-color: #cbcbcb;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

.slide2-text .second-text-item {
    width: 103%;
    margin-bottom: -5px;
}

.slide2-text .bg-blue-box {
    background-color: #5aa1e3;
    background-color: rgba(90, 161, 227, 0.7);
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;
    padding: 0.7em;
}

@media screen and (max-width: 980px) {
    .slide2-text {
        top: 40%;
        left: 5%;
    }

    .slide2-text .no-bg-first-text {
        font-size: 20px;
    }

    .slide2-text .bg-color-text {
        font-size: 15px;
    }

    .slide2 .bg-blue-box {
        font-size: 15px;
        padding: 0.5em;
    }
}

@media screen and (max-width: 480px) {
    .slide2-text {
        left: 1%;
    }
    
    .slide2-text .no-bg-first-text {
        font-size: 18px;
    }

    .slide2-text .bg-color-text {
        font-size: 12px;
        width: 95%;
        padding-left: 15px;
    }

    .slide2 .bg-blue-box {
        padding: 0.3em;
        font-size: 15px;
    }
}

/* Slide 3 */

.slide3-text {
    position: relative;
    top: 75%;
    left: 10%;
    display: inline-block;
}

.slide3 .bg-grey-box {
    background-color: #f4f0ea;
    background-color: rgba(245, 245, 245, 0.7);
    font-size: 30px;
    display: inline-block;
    padding: 0.7em;
    color: rgb(35, 35, 35);
}

@media screen and (max-width: 980px) {
    .slide3-text {
        top: 60%;
        left: 5%;
    }

    .slide3 .bg-grey-box {
        font-size: 22px;
        padding: 0.5em;
    }
}

@media screen and (max-width: 480px) {
    .slide3-text {
        left: 2%;
    }

    .slide3 .bg-grey-box {
        font-size: 15px;
        padding: 0.3em;
    }
}

/* End of Slider stuff */

#main-container {
    position: relative;
    width: 86%;
    left: 7%;
    font-family: 'Open-Sans', 'Montserrat', 'Lato-Bold', Arial, sans-serif;
    letter-spacing: 0;
}

#main-container h1.title,
h3#recent-articles,
#main-container h2.title {
    letter-spacing: 0;
    color: #222222;
    font-family: "Lato-Bold", "Lucida Grande", sans-serif;
    margin-top: 120px;
}

.line-diamond-line-separator {
    margin-top: 50px;
    margin-bottom: 50px;
}

#main-container p {
    font-size: 15px;
    color: #4c4c4c;
    margin-bottom: 30px;
    line-height: 26px;
}

#main-container a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

#main-container .bg-red-box {
    background-color: rgb(221, 51, 51);
    color: white;
    border: 1px solid white;
    padding: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}

#main-container .bg-red-box:hover {
    background-color: rgb(224, 162, 64);
}

#main-container #recent-articles {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#main-container .article-container {
    margin-bottom: 70px;
}

#main-container .articles img {
    width: 100%;
    height: 100%;
    min-height: 221px;
}

#main-container .articles a {
    margin-top: 30px;
    font-size: 16px;
    color: black;
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
    text-align: left;
}

#main-container .articles a:hover {
    color: #ff4d00;
}

/* End of Index Page */

/* FAQ Page */

#faq-container,
#services-and-prices-container {
    position: relative;
    width: 86%;
    left: 7%;
    font-family: 'Open-Sans', 'Montserrat', 'Lato-Bold', Arial, sans-serif;
    letter-spacing: 0;
    color: #5b5b5b;
}

#faq-container h1 {
    font-size: 30px;
    font-weight: 700;
    color: #222222;
    margin-top: 100px;
}

#faq-container a {
    text-decoration: none;
}

.italic-text {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 30px;
}

#faq-container .panel-body {
    font-size: 15px;
    line-height: 30px;
    color: #4c4c4c;
    border: none;
}

#faq-container .panel-body a,
.faq-bottom-text a {
    color: #ff4d00;
}
    

#faq-container i.fa.fa-plus, 
#faq-container i.fa.fa-minus {
    margin-right: 15px;
}

#faq-container .panel.panel-default {
    border: none;
    margin-bottom: 20px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

#faq-container .panel-heading {
    background-image: none;
    background-color: transparent;
    border: none;
}

.faq-bottom-text {
    margin-top: 50px;
    max-width: 70%;
    font-family: 'Open-Sans', 'Montserrat', 'Lato-Bold', Arial, sans-serif;
    font-size: 16px;
}

.lower-hr {
    width: 40px;
    border: 1px solid #e8e8e8;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* End of FAQ Page */

/* Contact us Page */

#contact-us-form {
    margin-top: 100px;
}

#contact-us-form input {
    height: 40px;
    -ms-border-radius: 0;
    border-radius: 0;
}

#contact-us-form input:focus,
#contact-us-form textarea:focus {
    border-color: #ff4d00;
    -webkit-box-shadow: inset 0 2px 2px #ff4d00, 0 0 10px #ff4d00;
    -webkit-box-shadow: inset 0 2px 2px rgba(255, 77, 0, 0.07), 0 0 10px rgba(255, 77, 0, 0.6);
    -ms-box-shadow: inset 0 2px 2px #ff4d00, 0 0 10px #ff4d00;
    -ms-box-shadow: inset 0 2px 2px rgba(255, 77, 0, 0.07), 0 0 10px rgba(255, 77, 0, 0.6);
    box-shadow: inset 0 2px 2px #ff4d00, 0 0 10px #ff4d00;
    box-shadow: inset 0 2px 2px rgba(255, 77, 0, 0.07), 0 0 10px rgba(255, 77, 0, 0.6);
}

#message {
    max-width: 100%;
    max-height: 1000px;
    height: 300px;
    -ms-border-radius: 0;
    border-radius: 0;
}

#contact-us-form button {
    font-family: 'Montserrat', 'Open-Sans', 'Arial', sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    color: white;
    background-image: none;
    border: none;
    border-color: transparent;
    background-color: #ff4d00;
    padding: 12px 20px;
    margin-top: 30px;
    -webkit-transition: background-color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in;
    -ms-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
}

#contact-us-form button:hover {
    background-color: #ff7c44;
}

.animated-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

#main-container .animated-container p,
#main-container .animated-container pre {
    margin-top: 10px;
    font-size: 14px;
}

.animated-container div.col-xs-12 {
    height: 280px;
    background-color: rgb(224, 162, 64);
    padding-left: 0;
    padding-right: 0;
}

.animated-container div.col-xs-12 div.colored-container{
    height: 100%;
}

.animated-container div.col-xs-12.grey-colored {
    background-color: #EFEFEF;
}

.animated-container div.col-xs-12 div.text-center div {
    position: relative;
    top: 90px;
}

#main-container .animated-container .below-container {
    position: relative;
    font-size: 14px;
    color: white;
    top: 188px;
    visibility: hidden;
    width: 81%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#main-container .animated-container .below-container::-moz-selection {
     background: rgb(241, 188, 82);
}

#main-container .animated-container .below-container::selection {
     background: rgb(241, 188, 82);
}

#main-container .animated-container .below-container .br-simulator {
    display: block;
}

.content-hider {
    height: 92px;
    position: relative;
    background-color: white;
}

/* End of Contact us Page */

/* Services and Prices Page */

#main-container.services-and-prices-container p.after-title {
    width: 65%;
    font-size: 18px;
    line-height: 32px;
    color: #5b5b5b;
    margin-bottom: 80px;
}

#main-container.services-and-prices-container .line-diamond-line-separator {
    margin-bottom: 40px;
}

.pricing-list {
    font-family: 'Open-Sans', 'Montserrat', 'Lato-Bold', Arial, sans-serif;
    letter-spacing: 0;
    font-size: 15px;
    line-height: 26px;
    color: #4c4c4c;
    border: 1px solid #eeeeee;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.pricing-list .service-title {
    background-color: #ff4d00;
    height: 90px;
}

#main-container .pricing-list .service-title p {
    color: white;
    font-size: 20px;
    padding-top: 30px;
}

.pricing-list .service-title,
.pricing-list h1,
.pricing-list a {
    font-family: 'Lato-Bold', 'Montserrat', 'Open-Sans', Arial, sans-serif;
}

.pricing-list h1 {
    font-size: 40px;
    color: black;
}

#main-container .pricing-list .li-item-grey p,
#main-container .pricing-list .li-item-white p {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0;
    width: 95%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#main-container .pricing-list .li-item-bottom p {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0;
    width: 95%;
}

.pricing-list .li-item-grey {
    color: #7a7a7a;
    background-color: #fafbfd;
}

#main-container .pricing-list .li-item-bottom a p.bg-black-box {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 13px;
    display: inline-block;
    width: initial;
    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}

#main-container .pricing-list .li-item-bottom a p.bg-black-box:hover {
    background-color: rgb(224, 162, 64);
}

#main-container .pricing-list .bg-red-box {
    font-family: 'Montserrat', 'Lato-Bold', 'Open-Sans', Arial, sans-serif;
}

#main-container .bg-red-box.no-margins {
    margin-top: 0;
    margin-bottom: 0;
}

#main-container div.red-button-container {
    margin-top: 50px;
    margin-bottom: 60px;
}

#main-container div.black-button-container {
    margin-top: 15px;
    margin-bottom: 20px;
}

.services-and-prices-container a {
    color: #ff4d00;   
}

.services-and-prices-container .lower-hr {
    margin-bottom: 50px;
}

#main-container .percentage-circles-container {
    margin-bottom: 50px;
}

#main-container .percentage-circles-container p.lato-bold {
    font-family: 'Lato-Bold', 'Montserrat', 'Open-Sans', Arial, sans-serif;
    font-size: 24px;
    color: black;
    margin-top: 5px;
    margin-bottom: 50px;
}

#main-container .percentage-circles-container .pie-title-center {
    display: inline-block;
    position: relative;
    text-align: center;
}

#main-container .percentage-circles-container .pie-value {
    display: block;
    position: absolute;
    height: 40px;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -20px;
    line-height: 40px;
}

#main-container .percentage-circles-container span,
#main-container .percentage-circles-container p {
    font-family: 'Lato-Bold', 'Montserrat', 'Open-Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

#main-container .percentage-circles-container p {
    margin-top: 20px;
}


/* End of Services and Prices and Privacy Policy pages */

/* Terms of Service page */

#main-container.terms-of-service,
#main-container.privacy-policy {
    margin-bottom: 100px;
}

/* End of Terms of Service and Privacy Policy page  */

/* Portfolio pages */

#portfolio-container {
    position: relative;
    width: 86%;
    left: 7%;
    font-family: 'Open-Sans', 'Montserrat', 'Lato-Bold', Arial, sans-serif;
    letter-spacing: 0;
    color: #5b5b5b;
}

#portfolio-container h1 {
    font-size: 30px;
    font-weight: 700;
    color: #222222;
    margin-top: 100px;
}

#portfolio-container a {
    text-decoration: none;
}

#portfolio-container .italic-text {
    margin-bottom: 50px;
}

#portfolio-container .picture-container,
#portfolio-container .picture-container div.col-xs-12 {
    margin-bottom: 60px;
}

#portfolio-container .picture-container div.col-xs-12 figure {
    display: inline-block;
    text-align: center;
    position: relative;
    height: 100%;
}

#portfolio-container .picture-container div.col-md-4 a img {
    width: 95%;
}

@media screen and (min-width: 992px) {
    #portfolio-container .picture-container div.col-md-4 a #fan-img-1,
    #portfolio-container .picture-container div.col-md-4 a #fan-img-2,
    #portfolio-container .picture-container div.col-md-4 a #fan-img-3 {
        height: 200px;
    }

    #portfolio-container .picture-container div.col-md-4 a #fan-img-1 {
        max-width: 348px;
    }

    #portfolio-container .picture-container div.img-container-2 figure {
        position: relative;
        right: 5px;
    }

    #portfolio-container .picture-container div.img-container-3 figure {
        position: relative;
        left: 45px;
    }

    #portfolio-container .picture-container div.col-md-4 a #fan-img-2 {
        width: 108%;
        max-width: 396px;
    }

    #portfolio-container .picture-container div.col-md-4 a #fan-img-3 {
        width: 100%;
        max-width: 293px;
    }

    #portfolio-container .picture-container div.col-md-4 a #fan-img-4,
    #portfolio-container .picture-container div.col-md-4 a #fan-img-5,
    #portfolio-container .picture-container div.col-md-4 a #fan-img-6 {
        height: 130px;
        max-width: 348px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #portfolio-container .picture-container div.img-container-1 {
        margin-bottom: 20px;
    }
    #portfolio-container .picture-container div.img-container-2 {
        margin-bottom: 65px;
    }
    #portfolio-container .picture-container div.img-container-4 {
        margin-top: -30px;
        margin-bottom: 37px;
    }
    #portfolio-container .picture-container div.img-container-6 {
        margin-top: -20px;
    }
    #portfolio-container .picture-container div.img-container-6 a #fan-img-6 {
        width: 98%;
    }
}

.content-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: 1000;
    -webkit-transition: background-color 500ms ease;
    -moz-transition: background-color 500ms ease;
    -ms-transition: background-color 500ms ease;
    -o-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
}

.content-hover:hover {
    background-color: transparent;
    background-color: rgba(255, 77, 0, 0.6);
}

/* End of Portfolio pages */

/* Order Form Page */

#order-form-container {
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
    width: 86%;
    left: 7%;
    font-family: 'Open-Sans', 'Montserrat', 'Lato-Bold', Arial, sans-serif;
    letter-spacing: 0;
}

#order-form-container h1 {
    font-family: 'Lato-Bold', 'Open-Sans', 'Montserrat', Arial, sans-serif;
}

#order-form-container p.text-center.italic-text {
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    color: rgb(108, 108, 108);
}

.top-hr {
    width: 70%;
    border: 1px solid #e8e8e8;
    margin-top: 50px;
    margin-bottom: 50px;
}

#order-form-container #order-form {
    font-size: 16px;
}

#order-form-container #order-form #inside-order-form-container div.form-group {
    background-color: rgb(239, 239, 239);
    padding: 10px 10px 20px 10px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

#order-form-container #order-form #inside-order-form-container div.form-group input#name,
#order-form-container #order-form #inside-order-form-container div.form-group input#email {
    height: 50px;
}

#order-form-container #order-form #inside-order-form-container div.form-group input#name {
    width: 200px;
}

#order-form-container #order-form #inside-order-form-container div.form-group input#email {
    width: 300px;
}

#order-form-container #order-form label {
    font-weight: normal;
}

#order-form-container #order-form span {
    color: red;
}

/* Dropzone specific style */
#order-form-container #order-form .dropzone .dz-message span {
    color: rgb(131, 131, 131);
    font-weight: 600;
}
/* */

#order-form-container #order-form .hidden-tag {
    display: none;
}

#order-form-container #order-form #loading-gif {
    text-align: center;
    height: 300px;
}

#order-form-container #order-form #loading-gif img {
    position: relative;
    top: 30%;
}

#order-form-container #order-form #dynamic-image-container .image-container {
    position: relative;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

#order-form-container #order-form #dynamic-image-container .image-container div.col-xs-12 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#order-form-container #order-form #dynamic-image-container .image-container div.col-xs-12 label {
    background-image: none;
    font-size: 16px;
    margin-bottom: 5px;
}

#order-form-container #order-form #dynamic-image-container .image-container div.col-xs-12 label.middle-label {
    margin-left: 5px;
    margin-right: 5px;
}

#order-form-container #order-form #dynamic-image-container .image-container div.col-xs-12 label:hover {
    background-color: #f1f1f1;
}

#order-form-container #order-form #dynamic-image-container .image-container div.col-xs-12 hr.image-container-hr {
    border: 0;
    height: 0;
    border-top: 1px solid #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#order-form-container #order-form #dynamic-image-container .image-container img.uploaded-image {
    max-height: 500px;
}

#order-form-container #order-form #dynamic-image-container .image-container div.col-xs-12 textarea {
    max-width: 100%;
    height: 150px;
    max-height: 350px;   
}

#order-form-container #order-form #dynamic-image-container .image-container span.remove-image {
    position: absolute;
    top: 2%;
    right: 0.6%;
    color: black;
    font-size: 25px;
    z-index: 10;
}

#order-form-container #order-form #dynamic-image-container .image-container span.remove-image:hover {
    color: rgb(116, 116, 116);
    cursor: pointer;
}

#order-form-container #order-form button {
    font-family: 'Open-Sans', 'Lato-Bold', 'Montserrat', Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    background-image: none;
    border: none;
    border-color: transparent;
    background-color: #ff4d00;
    padding: 12px 20px;
    margin-top: 30px;
    -webkit-transition: background-color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in;
    -ms-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
}

#order-form-container #order-form button:hover {
    background-color: #ff7c44;
}

.remove-picture-modal {
    width: 30%;
}

.remove-picture-modal p {
    font-size: 14px;
}

/* End of Order Form Page */

/* Blog Pages */

#blog-container {
    position: relative;
    width: 86%;
    left: 7%;
    font-family: 'Open-Sans', 'Montserrat', 'Lato-Bold', Arial, sans-serif;
    letter-spacing: 0;
}

#blog-container h1, #blog-container h2, #blog-container h3 {
    letter-spacing: 0;
    color: #222222;
    font-family: "Lato-Bold", "Lucida Grande", sans-serif;
    margin-top: 120px;
}

#blog-container p {
    font-size: 15px;
    color: #4c4c4c;
    margin-bottom: 30px;
    line-height: 26px;
}

#blog-container a {
    text-decoration: none;
    text-align: center;
}

#blog-container img.blog-post-main-image {
    width: 100%;
}

#blog-container .shortened-container {
    display: inline-block;
    position: relative;
    left: 10%;
    margin-top: 30px;
    width: 80%;
}

#blog-container .shortened-container a {
    font-size: 16px;
    color: black;
}

#blog-container .shortened-container a:hover {
    color: #ff4d00;
}

#blog-container .shortened-container p {
    color: #7e7e7e;
}

#blog-container .pagination-container {
    text-align: center;
}

#blog-post-container {
    position: relative;
    width: 90%;
    left: 7%;
    font-family: 'Open-Sans', 'Montserrat', 'Lato-Bold', Arial, sans-serif;
    letter-spacing: 0;
    margin-top: 100px;
    margin-bottom: 200px;
}

@media (min-width: 768px) {
    #blog-post-container div.col-sm-8 {
        width: 70%;
    }
    #blog-post-container div.col-sm-4 {
        width: 30%;
    }
}

#blog-post-container div.col-sm-4 p {
    text-align: center;
}

#blog-post-container h1, #blog-post-container h2, #blog-post-container h3 {
    letter-spacing: 0;
    color: #222222;
    font-family: "Lato-Bold", "Lucida Grande", sans-serif;
    margin-top: 120px;
}

#blog-post-container p {
    font-size: 15px;
    color: #4c4c4c;
    line-height: 26px;
}

#blog-post-container a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

#blog-post-container hr {
    border: 1px solid #e8e8e8;
}

#blog-post-container .blog-post-content img {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
}

#blog-post-container #share-and-tags-container p {
    font-size: 12px;
    display: inline-block;
}

#blog-post-container i {
    color: black;
    margin-left: 20px;
    -webkit-transition: color ease 300ms;
    -moz-transition: color ease 300ms;
    -ms-transition: color ease 300ms;
    -o-transition: color ease 500ms;
    transition: color ease 300ms;
}

#blog-post-container i:hover {
    color: #ff4d00;
}

#blog-post-container #share-link-icons {
    display: inline-block;
    position: relative;
    top: 3px;
}

#blog-post-container #tags-container {
    display: inline-block;
    margin-top: 20px;
}

#blog-post-container #tags-container a {
    padding: 7px 10px;
    border: 1px solid;
    margin-left: 5px;
    color: black;
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
}

#blog-post-container #tags-container a:hover {
    background-color: #ff4d00;
    border-color: #ff4d00;
    color: white;
}

#blog-post-container #side-content {
    margin-left: 50px;
}

#blog-post-container .stylish-input-group {
    width: 80%;
}

#blog-post-container .stylish-input-group .input-group-addon{
    background: white !important; 
}

#blog-post-container .stylish-input-group .form-control {
    height: 40px;
    border-right: 0;
    -webkit-box-shadow: 0 0 0;
    -ms-box-shadow: 0 0 0;
    box-shadow: 0 0 0; 
	border-color: #ccc;
}

#blog-post-container .stylish-input-group button{
    border: 0;
    background: transparent;
}

#blog-post-container .side-container #suggestion-text {
    margin-top: 50px;
    font-weight: bold;
    text-align: left;
    font-family: 'Montserrat', 'Open-Sans', 'Lato-Bold', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
}

#blog-post-container .side-container img {
    width: 50px;
    height: 30px;
    margin-right: 5px;
}

#blog-post-container .side-container .side-blog-post {
    margin-bottom: 35px;
}

#blog-post-container .side-container .side-blog-post p,
#blog-post-container .side-container .side-blog-post a {
    font-size: 12px;
    color: #878787;
    text-align: left;
}

#blog-post-container .side-container .side-blog-post div {
    display: inline-flex;
}

#blog-post-container .side-container .side-blog-post p.date-posted {
    margin-top: 10px;
    text-transform: uppercase;
}

/* End of Blog Pages */

/* 404 and 500 pages*/

#error-container {
    margin-top: 150px;
    margin-bottom: 250px;
}

#error-container p {
    font-family: 'Open-Sans', 'Montserrat', 'Lato-Bold', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    color: rgb(88, 88, 88);
}

#error-container .stylish-input-group {
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

#error-container .stylish-input-group .input-group-addon{
    background: white !important; 
}

#error-container .stylish-input-group .form-control {
    height: 40px;
    border-right: 0;
    -webkit-box-shadow: 0 0 0;
    -ms-box-shadow: 0 0 0;
    box-shadow: 0 0 0; 
	border-color: #ccc;
}

#error-container .stylish-input-group button{
    border: 0;
    background: transparent;
}

/* End of 404 and 500 pages */

/* Header */
#head .container-fluid {
    position: relative;
}

.upper-logo {
    padding-bottom: 20px;
    text-align: center;
}

.logo {
    display: inline-block;
}

.upper-social-icons {
    position: absolute;
    left: 40px;
    top: 55px;
    display: inline-block;
}

.fb-link {
    color: #3b5998;
}

.tw-link {
    color: #00aced;
}

.pn-link {
    color: #cb2027;
}

.in-link {
    color: #125688;
}

.gp-link {
    color: #dd4b39;
}

.upper-navbar-social-media-links {
    -webkit-transition: color 500ms ease;
    -moz-transition: color 500ms ease;
    -ms-transition: color 500ms ease;
    -o-transition: color 500ms ease;
    transition: color 500ms ease;
}

.upper-navbar-social-media-links:hover {
    color: black;
}

.navbar .navbar-collapse {
    text-align: center;
}

.upper-navbar {
    background-color: transparent;
}

.navbar.navbar-default.upper-navbar .nav.navbar-nav li.active a.page-link,
.navbar.navbar-default.upper-navbar .nav.navbar-nav li a:hover {
    color: #ff4d00;
}

.navbar.navbar-default.upper-navbar .nav.navbar-nav li.active .dropdown-menu li.active a {
    color: #ff4d00;
    background-color: #e7e7e7;
    background-image: none;
}

.navbar.navbar-default.upper-navbar .nav.navbar-nav li .dropdown-menu a {
    font-size: 12px;
    font-weight: 400;
}

@media(max-width: 768px) {
    .navbar.navbar-default.upper-navbar .nav.navbar-nav li a {
        background-image: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    .navbar.navbar-default.upper-navbar .nav.navbar-nav li .dropdown-menu a {
        font-size: 12px;
        font-weight: 300;
    }
    #navbar-collapsed {
        overflow: hidden;
    }
}

.navbar-default {
    background-image: none;
    -ms-border-radius: 0;
    border-radius: 0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}


/* Footer Styles */

.navbar-bottom {
    border: 0;
    background-color: #151515;
    font: 400 13px "Open-Sans", "Arial", sans-serif;
    letter-spacing: 0;
    margin-bottom: -20px;
}

.fa-stack.fa-lg {
    margin-right: 8px;
}

.footer-links {
    width: 50%;
    margin: 50px auto;
    color: gray;
}

.footer-links p a {
    color: gray;
}

.ssl-seal-img {
    width: 130px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lower-navbar-social-media-links {
    -webkit-transition: color 500ms ease;
    -moz-transition: color 500ms ease;
    -ms-transition: color 500ms ease;
    -o-transition: color 500ms ease;
    transition: color 500ms ease;
    color: #333;
}

.lower-navbar-social-media-links:hover {
    color: rgb(224, 162, 64);
}

#ssl-link {
    text-decoration: none;
}