
<div class="modal fade" id="remove-picture" tabindex="-1" role="dialog" aria-labelledby="remove" aria-hidden="true">
    <div class="modal-dialog remove-picture-modal">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <button type="button" class="close remove-picture-modal-close" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="panel-title remove-picture-modal-header">Remove picture</h4>
            </div>
            <form action="#" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p>Selected picture will be permanently removed and description will be lost.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p>Do you wish to continue?</p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="button" data-dismiss="modal" class="btn btn-danger picture-remove-confirm" value="Remove" />
                        </div>
                        <div class="col-xs-6">
                            <input type="button" data-dismiss="modal" class="btn btn-success picture-remove-cancel pull-right" value="Cancel" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>