@model AllureTouch.Models.IndexModel

@section JavaScript{
    <script src="~/Scripts/jquery.bxslider.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/sliderHelper.js"></script>
}


<div class="bxslider" data-stellar-ratio="0.7">

    <div id="loader-gif">
        <img src="~/Content/images/bx_loader.gif"/>
    </div>
    <div>
        <div class="slide1">
            <p style="background-color: green; display: inline-block;">&nbsp; Some tessad asdsa dsadsad ad</p>
            <p style="background-color: white; display: inline-block;">&nbsp; tessad asdsa dsadsad ad</p>
        </div>
    </div>
    <div>
        <div class="slide2"></div>
    </div>
    <div>
        <div class="slide3"></div></div>
</div>

<h1 class="text-center">Meet AllureTouch Photo Editing Team</h1>
