@model AllureTouch.Models.IndexModel

@section MainPageJS{
    <script src="~/Scripts/jquery.bxslider.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/jquery.detect.mobile.min.js"></script>
    <script src="~/Scripts/sliderHelper.js"></script>
}


<div class="bxslider" data-stellar-ratio="0.7">

    <div id="loader-gif">
        <img src="~/Content/images/bx_loader.gif" />
    </div>
    <div>
        <div class="slide1">
            <div class="slide1-text">
                <p class="no-bg-first-text">
                    HELPING ANY WOMAN LOOK<br />
                    ALLURING IN ANY PHOTO
                </p>
                <ul class="bg-color-text second-text-item">
                    <li>Realistic, Fashion and Creative Photo Editing</li>
                    <li class="li-display-inline-block">Affordable Prices, 24-48 hours delivery, fully private&nbsp;</li>
                    <li>Working with all Photos: Professional & Amateur</li>
                    <li>Fast and Easy Online Ordering</li>
                </ul>
                <br/>
                <a href="@Url.Action("services-and-prices", "Home")">
                    <p class="bg-red-box">&nbsp;Get Your Photo Editing Started&nbsp;</p>
                </a>
                <p class="bg-color-text">&nbsp;For every photo edit you order, we donate $1 to children’s charity UNICEF&nbsp;</p>
            </div>
        </div>
    </div>
    <div>
        <div class="slide2">
            <div class="slide2-text">
                <p class="no-bg-first-text">YOU DESERVE TO BE ALLURING</p>
                <ul class="bg-color-text second-text-item">
                    <li>You are our Inspiration, no matter your age, shape or size</li>
                    <li>You are a piece of Art</li>
                    <li>You can be Everything you want to be</li>
                </ul>
                <br />
                <a href="@Url.Action("services-and-prices", "Home")">
                    <p class="bg-blue-box">&nbsp;Learn More About our Services and Prices&nbsp;</p>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="slide3">
            <div class="slide3-text">
                <a href="@Url.Action("services-and-prices", "Home")">
                    <p class="bg-grey-box">&nbsp;Express your feelings through your photo&nbsp;</p>
                </a>
            </div>
        </div>
    </div>
</div>

<h1 class="text-center">Meet AllureTouch Photo Editing Team</h1>
