@model AllureTouch.Models.IndexModel

@section MainPageJS{
    <script src="~/Scripts/jquery.bxslider.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/jquery.detect.mobile.min.js"></script>
    <script src="~/Scripts/sliderHelper.js"></script>
}


<div class="bxslider" data-stellar-ratio="0.7">

    <div id="loader-gif">
        <img src="~/Content/images/bx_loader.gif"/>
    </div>
    <div>
        <div class="slide1">
            <div class="slide1-text">
                <p>HELPING ANY WOMAN LOOK ALLURING IN ANY PHOTO</p>
                <ul class="bg-color-text">
                    <li>Realistic, Fashion and Creative Photo Editing</li>
                    <li>Affordable Prices, 24-48 hours delivery, fully private</li>
                    <li>Working with all Photos: Professional & Amateur</li>
                    <li>Fast and Easy Online Ordering</li>
                </ul>
                <p class="bg-red-box">Get Your Photo Editing Started</p>
                <p class="bg-color-text">For every photo edit you order, we donate $1 to children’s charity UNICEF</p>
            </div>
        </div>
    </div>
    <div>
        <div class="slide2"></div>
    </div>
    <div>
        <div class="slide3"></div></div>
</div>

<h1 class="text-center">Meet AllureTouch Photo Editing Team</h1>
