@model AllureTouch.Models.IndexModel

<ul class="bxslider">
    <li><img src="~/Content/images/slider-images/1.jpg" /></li>
    <li><img src="~/Content/images/slider-images/2.jpg" /></li>
    <li><img src="~/Content/images/slider-images/3.jpg" /></li>
</ul>

<h2>BLA</h2>