@{
    ViewBag.Title = "Photo Editing - Home - AllureTouch";
}

@section ExtraCSS {
    <link href="~/Content/css/jquery.bxslider.css" rel="stylesheet" type="text/css" />
}

@section ExtraJS {
    <script src="~/Scripts/jquery.bxslider.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/jquery.detect.mobile.min.js"></script>
    <script src="~/Scripts/sliderHelper.js"></script>
}

<div id="slider-container">
    <div id="loader-gif">
        <img src="~/Content/images/bx_loader.gif" class="center-block loader-gif-centered"/>
    </div>
    <div class="bxslider" data-stellar-ratio="0.7">
        <div>
            <div class="slide1">
                <div class="slide1-text">
                    <p class="no-bg-first-text">
                        HELPING ANY WOMAN LOOK<br/>
                        ALLURING IN ANY PHOTO
                    </p>
                    <ul class="bg-color-text second-text-item">
                        <li>Realistic, Fashion and Creative Photo Editing</li>
                        <li class="li-display-inline-block">Affordable Prices, 24-48 hours delivery, fully private&nbsp;</li>
                        <li>Working with all Photos: Professional & Amateur</li>
                        <li>Fast and Easy Online Ordering</li>
                    </ul>
                    <br/>
                    <a href="@Url.Action("services-and-prices", "Home")">
                        <p class="bg-red-box">&nbsp;Get Your Photo Editing Started&nbsp;</p>
                    </a>
                    <p class="bg-color-text">&nbsp;For every photo edit you order, we donate $1 to children’s charity UNICEF&nbsp;</p>
                </div>
            </div>
        </div>
        <div>
            <div class="slide2">
                <div class="slide2-text">
                    <p class="no-bg-first-text">YOU DESERVE TO BE ALLURING</p>
                    <ul class="bg-color-text second-text-item">
                        <li>You are our Inspiration, no matter your age, shape or size</li>
                        <li>You are a piece of Art</li>
                        <li>You can be Everything you want to be</li>
                    </ul>
                    <br/>
                    <a href="@Url.Action("services-and-prices", "Home")">
                        <p class="bg-blue-box">&nbsp;Learn More About our Services and Prices&nbsp;</p>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="slide3">
                <div class="slide3-text">
                    <a href="@Url.Action("services-and-prices", "Home")">
                        <p class="bg-grey-box">&nbsp;Express your feelings through your photo&nbsp;</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="main-container">
    <h1 class="text-center title">Meet AllureTouch Photo Editing Team</h1>
    <img src="~/Content/images/line-diamond-line.png" class="center-block line-diamond-line-separator" />
    <p>
        Everyone is passionate about something. We are passionate about digital art, fashion, creativity and photo editing.
        Our mission is to make any woman look alluring in any photo. We developed AllureTouch to promote photo editing as an art,
        to make women discover something new about themselves, to boost their confidence. <b>You are alluring.</b>
    </p>
    <p>
        Photo editing is not about applying filters to the image or hiding flaws, and not only about making photos look better –
        is about art, is about expressing your personality through photographs and enhancing your best self. <b>You are a piece of art.</b>
    </p>
    <p>
        We believe in change, creativity, colors, inspiration, happiness, balance and we are sure that everything is possible!
        We love high fashion, surrealistic art, vintage and pin-up, dark beauty, sensual photography and natural beauty. We don’t work
        with models only, we work with every woman. Celebrity look is now available to all women. <b>You can be everything you want to be.</b>
    </p>
    <p>
        We offer realistic, creative and fashion photo editing services. We are dedicated to you and to AllureTouch. We believe
        that every woman deserves to be someone’s inspiration. Express your feelings through your photos! <b>You are our inspiration,
        no matter your age, shape or size.</b>
    </p>
    <p>We want to change the world and make it better, happier, more creative place for us all.</p>

    <div class="text-center">
        <a href="@Url.Action("services-and-prices", "Home")">
            <p class="bg-red-box">&nbsp;LEARN MORE ABOUT OUR SERVICES &amp; PRICES&nbsp;</p>
        </a>
    </div>
</div>
