<div id="main-container" class="services-and-prices-container">
    <h1 class="text-center title">Photo Editing Order Form</h1>
    <img src="~/Content/images/line-diamond-line.png" class="center-block line-diamond-line-separator" />
    <p class="text-center italic-text after-title center-block">
        PFill out the information fields below, choose the desired service(s), upload your photo(s) for editing
        and add detail to the Photo Editing Instructions field. Your information and photos will not be shared
        with third parties for marketing or other purposes. When you are finished completing the Order Form, click
        Submit and you will be redirected to Payment page.
    </p>

    <p> form stuff </p>
    <button class="btn-default">Submit</button>
</div>