@section ExtraCSS {
    <link href="~/Content/PhotoSwipe/photoswipe.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PhotoSwipe/default-skin/default-skin.css" rel="stylesheet" type="text/css" />
}

@section ExtraJS {
    <script src="~/Scripts/photoswipe.min.js"></script>
    <script src="~/Scripts/photoswipe-ui-default.min.js"></script>
    <script src="~/Scripts/galleryHelper.js"></script>
}


<div id="portfolio-container">
    <h1 class="text-center title">Realistic Photo Editing</h1>
    <img src="~/Content/images/line-diamond-line.png" class="center-block line-diamond-line-separator" />
    <p class="text-center italic-text">Click on the image to have a larger view and for more options</p>

    <div class="row picture-container">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <figure>
                <a href="~/Content/images/portfolio/realistic/photo-manipulation-to-slim-down-before-and-after-1.jpg" data-index="0">
                    <img class="hoverable" src="~/Content/images/portfolio/realistic/photo-manipulation-to-slim-down-before-and-after-1.jpg" itemprop="thumbnail" alt="Beach">
                    <div class="content-hover"></div>
                </a>
            </figure>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <figure>
                <a href="~/Content/images/portfolio/realistic/photo-editing-with-background-cleaning-and-color-adjustment-2.jpg" data-index="1">
                    <img class="hoverable" src="~/Content/images/portfolio/realistic/photo-editing-with-background-cleaning-and-color-adjustment-2.jpg" itemprop="thumbnail" alt="dsd">
                    <div class="content-hover"></div>
                </a>
            </figure>

        </div>


        <div class="col-xs-12 col-sm-6 col-md-4">
            <figure>
                <a href="~/Content/images/portfolio/realistic/realistic-picture-edit-before-and-after-3.jpg" data-index="2">
                    <img class="hoverable" src="~/Content/images/portfolio/realistic/realistic-picture-edit-before-and-after-3.jpg" itemprop="thumbnail" alt="Beachas">
                    <div class="content-hover"></div>
                </a>
            </figure>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <figure>
                <a href="~/Content/images/portfolio/realistic/realistic-picture-editing-before-and-after-4.jpg" data-index="3">
                    <img class="hoverable" src="~/Content/images/portfolio/realistic/realistic-picture-editing-before-and-after-4.jpg" itemprop="thumbnail" alt="dsdas">
                    <div class="content-hover"></div>
                </a>
            </figure>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <figure>
                <a href="~/Content/images/portfolio/realistic/natural-beauty-photo-editing-before-and-after-5.jpg" data-index="4">
                    <img class="hoverable" src="~/Content/images/portfolio/realistic/natural-beauty-photo-editing-before-and-after-5.jpg" itemprop="thumbnail" alt="BeachsaA">
                    <div class="content-hover"></div>
                </a>
            </figure>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <figure>
                <a href="~/Content/images/portfolio/realistic/realistic-photo-editing-6.jpg" data-index="5">
                    <img class="hoverable" src="~/Content/images/portfolio/realistic/realistic-photo-editing-6.jpg" itemprop="thumbnail" alt="dssaaasad">
                    <div class="content-hover"></div>
                </a>
            </figure>
        </div>


    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

</div>